* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: rgba(30, 116, 95, 0.865);
    padding: 2px;

    color: #ffffff;
}

#container>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(82, 128, 108, 0.628);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgba(30, 116, 95, 0.966);
}

.active {
    background-color: #104632dc;
}

h1,
p,
h2 {
    text-align: center;
}

footer {
    background-color: rgba(30, 116, 95, 0.865);
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px ;
    color: rgba(0, 0, 0, 0.808);
    font-family: 'Courier New', Courier, monospace;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.item5 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.item2, .item3, .item4,.item6, .item7, .item8{
    border: 1px solid rgba(30, 116, 95, 0.966);
    border-radius:22px;
}
img{
    width: 100%;
}
button{
    background-color:rgba(30, 116, 95, 0.966);
    color: #ffffff;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    border-radius:10px;
}

.creadores{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;

}
.img2{
    width: 250px;
}